@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: radial-gradient(
    circle 1224px at 10.6% 8.8%,
    rgba(255, 255, 255, 1) 0%,
    rgba(153, 202, 251, 1) 100.2%
  );
}

.wrapper {
  width: 700px;
}

h1,
h2,
footer {
  text-align: center;
  margin: 30px 0;
}

pre {
  background-color: white;
  padding: 5px;
  border-radius: 5px;
}

a {
  text-decoration: none;
  color: #c0392b;
}
